<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tamara.mosis.elfak.walkhike">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC20SAi61o5fJQ1cTHMLh8MEOCWfwRZ_YI"></meta-data>

        <activity android:name=".SettingsActivity">

        </activity>
        <activity android:name=".EditProfileActivity" />

        <activity android:name=".AddFriendActivity" />
        <activity android:name=".FriendProfileActivity" >

    </activity>
        <activity android:name=".HelpActivity" />


    <activity android:name=".NewPasswordActivity" />

        <activity android:name=".RecoveryCodeActivity" />

        <activity android:name=".NewProfilePictureActivity" >

        </activity>

        <activity android:name=".SignUpActivity" />


        <activity android:name=".LoginActivity" >

        </activity>
        <activity android:name=".FriendslistActivity" />


        <activity android:name=".AddNewObjectActivity" />
        <activity android:name=".CompletedRoutesActivity" />
        <activity android:name=".LeaderboardsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".ProfileActivity" >

        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
    </application>

</manifest>