<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tamara.mosis.elfak.walkhike">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity android:name=".Probe_Friendship_Activity"></activity>
        <activity android:name=".Activities.NotificationActivity">
            <intent-filter>
                <action android:name="tamara.mosis.elfak.walknhike.TARGETNOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SendActivity" />
        <activity android:name=".Activities.FriendRequestsActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".ShowArObjectActivity" />
        <activity android:name=".Probe">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC20SAi61o5fJQ1cTHMLh8MEOCWfwRZ_YI" />

        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.AddFriendActivity" />
        <activity android:name=".Activities.FriendProfileActivity" />
        <activity android:name=".Activities.HelpActivity" />
        <activity android:name=".Activities.NewPasswordActivity" />
        <activity android:name=".Activities.RecoveryCodeActivity" />
        <activity android:name=".Activities.NewProfilePictureActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activities.FriendslistActivity" />
        <activity android:name=".Activities.AddNewObjectActivity" />
        <activity android:name=".Activities.CompletedRoutesActivity" />
        <activity android:name=".Activities.LeaderboardsActivity" />
        <activity android:name=".Activities.NotificationsActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.MainActivity" ></activity>


        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".NotificationService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>